{% extends "base.html" %}

{% block title %}
Checkout | NovaCart
{% endblock %}

{% block content %}

<div class="container">

    <div class="row justify-content-center">

        <div class="col-lg-7">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-5">

                    <h2 class="fw-bold mb-4">
                        🧾 Checkout
                    </h2>

                    <div class="alert alert-primary">

                        <strong>Order Total:</strong>

                        <span class="float-end fw-bold">
                            ₹{{ cart.get_total_price }}
                        </span>

                    </div>

                    <form method="post">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <div class="d-grid mt-4">

                            <button class="btn btn-success btn-lg">
                                Place Order
                            </button>

                        </div>

                    </form>

                    <div class="mt-4">

                        <a href="{% url 'cart_detail' %}"
                           class="btn btn-outline-secondary">

                            ← Back to Cart

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}